/* dark: #2C3333 */
/* dark2: #1d2121 */
/* blue: #19A7CE */
/* light: #cfcfcf */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #2C3333;
    float: left;
    display: inline;
    height: 100vh;
    width: 30vw;
}

#title {
    color: #19A7CE;
    font-size: 4vw;
    font-family: sans-serif;
    text-align: right;
    padding: 4vh 3vw;
}

#name {
    width: 100%;
    display: block;
}

#tabs {
    color: #cfcfcf;
    font-size: 2.5vw;
    position: absolute;
    top: 50%;
    list-style: none;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: inherit;
}

.tab-link {
    width: 100%;
    display: block;
    padding: 1vh 2vw;
    text-align: right;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.tab-link:hover {
    background-color: #1d2121;
    width: 110%;
    padding-right: 3vw;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

#media-buttons {
    bottom: 0;
    position: absolute;
    width: inherit;
    padding: 3vh 0;
    box-sizing: border-box;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.media-button-image {
    width: 3vw;
    height: auto;

    margin: 2px;
    padding: 5px;
    background-color: #cfcfcf;
    transition: all 0.1s;
}

.media-button-image:hover {
    margin: 0px;
    padding: 7px;
    background-color: white;
}

#media-button-linkedin {
    border-radius: 10px;
}

#media-button-github {
    border-radius: 100%;
}

body {
    height: 100%;
    background-color: #cfcfcf;
}

